.header {
  position: fixed;
  top: 34px;
  padding: 0 35px;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  width: 100%;

  .header-logo {
    &__text {
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  .header-exit {
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;

    &__item-link {
      color: $text-color;
      text-decoration: none;
    }

    &__item {
      position: relative;
      font-weight: 400;
      font-size: 27px;
      color: $text-color;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 3px;
        background: $text-color;
        transition: 0.3s all;
      }

      &:hover {
        &::before {
          width: 70%;
        }
      }

      &.__active {
        &::before {
          width: 70%;
        }
      }
    }
  }

  @media (max-width: $laptop-L) {
    .header-nav {
      display: none;
    }

    .header-exit {
      display: none;
    }

    .header-logo {
      display: none;
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 55px;
  padding: 20px;
  z-index: 100;
  transition: 0.3s all;

  &.__active {
    .mobile-menu__btn {
      transform: rotate(90deg);
    }

    .mobile-menu__nav {
      opacity: 1;
      visibility: visible;
      transform: scale(1);

      .mobile-menu__nav-item {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__btn {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(0);
    transition: 0.3s all;
    width: fit-content;
  }

  &__btn-svg {
    min-width: 30px;
    stroke-dasharray: 100;
    animation: dash 15s linear infinite;
  }

  &__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    z-index: 1;
    top: 0;
    background: #1a1919;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: 0.3s all;
    transition-delay: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-left: 0;
    list-style: none;
  }

  &__nav-item {
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    color: $text-color;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-10px);
    visibility: hidden;
    transition-delay: 0.6;
    transition: 0.3s all;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 3px;
      background: $text-color;
      transition: 0.3s all;
    }

    &.__active {
      &::before {
        width: 100%;
      }
    }

    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  @media (max-width: $laptop-L) {
    display: block;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@media (max-width: 460px) {
  .mobile-menu {
    &__nav-item {
      font-size: 20px;
      line-height: 29px;
    }
  }
}